<%- include('../partials/header') %>

<!-- TABLE OF USER SNIPPETS -->
<table id="user-snippets-table">
  <thead>
    <tr>
      <th>Add Tags</th>
      <th>Current Tags</th>
      <th>Snippet</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% snippets.forEach(function(snippet) { %>
      <tr>
        <td>
          <form id="add-tag-form" action="/snippets/<%= snippet._id %>" method="POST">
            <select name="newTag" id="tag-year-dropdown">
              <% tagsAllOptions.forEach(function(tagOption) { %>
                <option value="<%= tagOption %>"><%= tagOption %></option>
              <% }); %>  
            </select>
            <button type="submit">Add Tag</button>  
          </form>
        </td>
        <td>
          <% snippet.tags.forEach(function(tag) { %>
            <div id="snippet-current-tag"><%= tag.tagName %></div>
          <% }) %>
        </td>
        <td><%= snippet.snippetContent %></td>
        <td id="snippet-delete-table-cell">
          <form action="/snippets/<%= snippet._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>