<%- include('../partials/header') %>

<% if (displayMessage) { %>
  <p id="message"><%= displayMessage %></p>
<% } %> 

<!-- SEARCH INTERFACE -->
<form id="search-snippets-form" action="/snippets/edit/search" method="GET">
  <select name="searchTag" id="search-by-tag-dropdown">
    <% userUniqueTags.forEach(function(tagOption) { %>
      <option value="<%= tagOption %>"><%= tagOption %></option>
    <% }); %>  
  </select>
  <button type="submit">Search</button>  
</form>

<!-- TABLE OF USER SNIPPETS -->
<table id="user-snippets-table">
  <thead>
    <tr>
      <th>Add Tags</th>
      <th>Current Tags</th>
      <th>Snippet</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% snippets.forEach(function(snippet) { %>
      <tr>
        <td>
          <form id="add-tag-form" action="/snippets/<%= snippet._id %>" method="POST">
            <select name="newTag" id="add-tag-dropdown">
              <% tagsAllOptions.forEach(function(tagOption) { %>
                <option value="<%= tagOption %>"><%= tagOption %></option>
              <% }); %>  
            </select>
            <button type="submit">Add Tag</button>  
          </form>
        </td>
        <td>
          <% snippet.tags.forEach(function(tag) { %>
            <div id="snippet-current-tag">
              <%= tag.tagName %>
              <form id="remove-tag-form" action="/snippets/<%= snippet._id %>/remove-tag?_method=DELETE" method="POST">
                <input type="hidden" name="tagId" value="<%= tag._id %>">
                <button id="delete-tag-button" type="submit">X</button>
              </form>
            </div>
          <% }) %>
        </td>
        <td><%= snippet.snippetContent %></td>
        <td id="snippet-delete-table-cell">
          <form action="/snippets/<%= snippet._id %>/?_method=DELETE" method="POST">
            <button id="delete-snippet-button" type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>