<%- include('../partials/header') %>

<form id="search-snippets-form" action="/snippets/search" method="GET">
  <select name="searchTag" id="search-by-tag-dropdown">
    <% userUniqueTags.forEach(function(tagOption) { %>
      <option value="<%= tagOption %>"><%= tagOption %></option>
    <% }); %>  
  </select>
  <button type="submit">Search</button>  
</form>

<table id="search-snippets-table">
  <thead>
    <tr>
      <th>Current Tags</th>
      <th>Snippet</th>
    </tr>
  </thead>
  <tbody>
    <% snippets.forEach(function(snippet) { %>
      <tr>
        <td>
          <% snippet.tags.forEach(function(tag) { %>
            <div id="snippet-current-tag"><%= tag.tagName %></div>
          <% }) %>
        </td>
        <td><%= snippet.snippetContent %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>